<p id="notice"><%= notice %></p>

<h1>Patients</h1>

<table class="table table-dark table-striped">
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Gender</th>
      <th>Age</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Debt?</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @patients.each do |patient| %>
      <tr>
        <td><%= patient.first_name %></td>
        <td><%= patient.last_name %></td>
        <td><%= patient.gender %></td>
        <td><%= patient.age %></td>
        <td><%= patient.email %></td>
        <td><%= patient.phone %></td>
        <td><%= in_debt_to_words(patient) %></td>
        <td><%= link_to 'Show', patient %></td>
        <td><%= link_to 'Edit', edit_patient_path(patient) %></td>
        <td><%= link_to 'Destroy', patient, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Patient', new_patient_path, class: "btn btn-primary" %>
