<h1>New Payment</h1>

<%= form_with(model: @transaction, method: :post) do |form| %>
  <% if @transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@transaction.errors.count, "error") %> prohibited this payment from being saved:</h2>

      <ul>
        <% @transaction.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.select(:cdt_code, @type_of_payments) %>
  </div>

  <div class="field">
    <%= form.label :amount %>
    <%= form.number_field :amount %>
  </div>

  <div class="field">
    <%= form.hidden_field :date, :value => Time.now %>
  </div>

  <div class="field">
    <%= form.label :performed_by %>
    <%= form.text_field :performed_by %>
  </div>

  <div class="field">
    <%= form.hidden_field :patient_id, :value => @patient.id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<%= link_to 'Back', balances_path, class: "btn btn_primary" %>
